<div class="container">
  <div class="row">
    <div class="row header">
      <div class="left small-9 columns">
        {{date | date: 'fullDate'}}
      </div>

      <div class="right small-3 columns">
        <div class="user inline">
          <p>
            Hi, {{User_name}}  Name
          </p>
        </div>
      </div>
    </div>

    <div class="searchField">
      <label>Search: <input class="searchInput" ng-model="searchText"></label>
    </div>

    <div class="row main-content">
      <div class="row main-fields small-12 columns">
        <div class="border-right client-title small-1 columns">
          <h3>#ID</h3>
        </div>

        <div class="border-right client-title small-3 columns">
          <h3>Full Name</h3>
        </div>

        <div class="border-right client-title small-5 columns">
          <h3>Identity Number</h3>
        </div>

        <div class="border-right client-title small-1 columns">
          <h3>Title</h3>
        </div>

        <div class="border-right client-title small-2 columns">
          <h3>Language</h3>
        </div>
      </div>

      <div class="" ng-repeat="client in clientData.data.clients | filter:searchText" ng-show="clientData">
        <div class="client-fields" ng-click="SelectClient(client, $index)">

        <div class="client-fields-container">
          <div class="borderLeft client small-1 columns" >
            <h3 class="margin-zero">{{client.client}}</h3>
          </div>

          <div class="borderLeft client small-3 columns">
            <h3 class="margin-zero">{{client.clientFullName}}</h3>
          </div>

          <div class="borderLeft client small-5 columns">
            <h3 class="margin-zero">{{client.clientIDNo}}</h3>
          </div>

          <div class="borderLeft client small-1 columns">
            <h3 class="margin-zero">{{client.clientTitle}}</h3>
          </div>

          <div class="borderLeft borderRight client-language small-2 columns">
            <h3 class="margin-zero" ng-if="client.clientLanguage">{{client.clientLanguage}}  <i class="fi-arrow-down"></i></h3>
            <h3 class="margin-zero" ng-if="!client.clientLanguage">N/A  <i class="fi-arrow-down"></i></h3>
          </div>
        </div>

        <div class="" style="display:none" ng-attr-id="{{'policyDetails' + $index}}">
          <div class="client-fields">
            <div class="row small-12 columns">
                <div class=" borderLeft paddingZero green  client-id small-1 columns">
                  <h3>Policy No.</h3>
                </div>

                <div class=" borderLeft paddingZero green  client-name small-2 columns">
                  <h3>Registration No.</h3>
                </div>

                <div class=" borderLeft paddingZero green  client-surname small-1 columns">
                  <h3>Policy Stat</h3>
                </div>

                <div class=" borderLeft paddingZero green  client-identity-number small-2 columns">
                  <h3>Inception Date</h3>
                </div>

                <div class=" borderLeft paddingZero green  client-contact-number small-3 columns">
                  <h3>Premium Including Vat</h3>
                </div>

                <div class=" borderLeft paddingZero green borderRight client-contact-number small-3 columns">
                  <h3>Vehicle Make Model</h3>
                </div>

              <div class="client-fields paddingZero small-12 columns" ng-repeat="policy in policyResponses">
                <div class=" small-12 columns paddingZero" ng-repeat="clientPolicy in policy.policies | filter:{ client: selectedClient.client}">
                 <div class="policies" ng-click="SelectClientPolicy(clientPolicy, $index)">
                   <div class="">
                     <div class="policyNumber borderLeft paddingZero client small-1 columns">
                       <h3>{{clientPolicy.policyNumber}}</h3>
                     </div>

                     <div class="registrationNumber borderLeft paddingZero client small-2 columns">
                       <h3>{{clientPolicy.registrationNumber}}</h3>
                     </div>

                     <div class="policyStatus borderLeft paddingZero client small-1 columns">
                       <h3>{{clientPolicy.policyStatus}}</h3>
                     </div>

                     <div class="inceptionDate borderLeft paddingZero client small-2 columns">
                       <h3>{{clientPolicy.inceptionDate}}</h3>
                     </div>

                     <div class="premiumIncludingVat paddingZero client  borderLeft small-3 columns">
                       <h3>{{clientPolicy.premiumIncludingVat}}</h3>
                     </div>

                     <div class="vehicleMakeModel borderLeft paddingZero client borderRight small-3 columns">
                       <h3>{{clientPolicy.vehicleMakeModel}}</h3>
                     </div>
                   </div>

                   <div class=""  style="display:none"  ng-attr-id="{{'clientPolicy' + $index}}">
                     <div class="">
                       <div class="inline marginAuto">
                         <h3 class="center">Additional Policy Details</h3>
                         <div class="inline" >
                           <h3>Expiry Date:</h3>

                           <h3>Vehicle Type:</h3>

                           <h3>Year Model:</h3>

                           <h3>Engine CC:</h3>

                           <h3>Wheel Size 1:</h3>

                           <h3>Wheel Size 2:</h3>

                           <h3>No Wheels:</h3>

                           <h3>Tyre Make:</h3>

                           <h3>Tyre Value:</h3>

                           <h3>Excluding Vat:</h3>

                           <h3>Premium Vat:</h3>

                           <h3>Cancel Reason:</h3>
                         </div>

                         <div class="pdetails inline" ng-repeat="details in policyDetail" ng-show="policyDetail">
                           <div class="" ng-repeat="info in details.data.policy | filter:{ client: selectedClientPolicy.client}">
                               <h3>{{info.expiryDate}}</h3>


                             <h3>{{info.vehicleType}}</h3>

                             <h3>{{info.year}}</h3>

                             <h3>{{info.engineCC}}</h3>

                             <h3>{{info.wheelSize1}}</h3>

                             <h3>{{info.wheelSize2}}</h3>

                             <h3>{{info.noWheels}}</h3>

                             <h3>{{info.tyreMake}}</h3>

                             <h3>{{info.tyreValue}}</h3>

                             <h3>{{info.premiumExcludingVat}}</h3>

                             <h3>{{info.premiumVat}}</h3>

                             <h3>{{info.cancelReason}}</h3>
                           </div>
                         </div>


                          </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>


                </div>
              </div>
            </div>


          </div>
          </div>
        </div>

      </div>

      <!-- Loader  -->
      <div class="Loader" ng-hide="clientData">
      	<div class="Bar"></div>
      	<div class="Bar"></div>
      	<div class="Bar"></div>
      	<div class="Bar"></div>
      	<div class="Bar"></div>
      	<div class="Bar"></div>
      </div>



    </div>
  </div>

</div>
