.header {
  .right {
    margin-top: -4px;

    .user {
      margin-right: 30px;
    }
  }
}

.searchField {
  .searchInput {
    border: 2px solid #441eff;
    border-radius: 15px;
    padding: 10px;
  }
}

.main-content {
  margin-top: 30px;

  .main-fields {
    background: #441eff;
    color: #fff;
    border-radius: 10px 10px 0 0;
    border-left: 2px solid #441eff;

    .border-right {
      border-right: 1px solid #fff;
    }

    .border-right,
    .client-email {
      padding: 10px 0;
    }
  }
}

.center {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.green {
  background: green;
  color: #ffffff;
}

.client-fields {
  .borderLeft {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px 0;
  }

  .borderRight {
    border-right: 1px solid #000;
  }
}

.client {
  background: #e1e1e1;
}

.paddingZero {
  padding: 0;
}

.client-language i {
  float: right;
  margin-right: 30px;
}

.pdetails {
  vertical-align: top;
}

.pdetails h3 {
  border-left: 1px solid #000000;
  padding-left: 5px;
}

// Loader styles
.Loader {
	height: 30px;
	width: 90px;
	position: relative;
  margin: 100px auto 0;
  text-align: center;

	.Bar {
		background: #441eff;
		height: 0;
		position: absolute;
		bottom: 0;
		width: 10px;
		border-radius: 2px;

		@for $i from 0 through 6 {
			&:nth-child(#{$i}) {
				left: ($i * 15px) - 15px;
				animation: bottom-top 2s infinite ease-in-out ($i * 0.2s);
			}
		}
	}
}

@keyframes bottom-top {
	0% {
		height: 0;
		opacity: 0;
	}

	50% {
		height: 30px;
		opacity: 1;
	}

	100% {
		height: 0;
		opacity: 0;
	}
}

// Loader box
